.git
.env
.env.*
!.env.example
!.env.deploy.example
vendor
node_modules
public/build
public/hot
public/storage
database/*.sqlite*
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
bootstrap/cache/*.php
.phpunit.cache
.phpunit.result.cache
.DS_Store
.idea
.vscode
